main {
   background-image: url(/bg.jpg);
   height: 100vh;
   background-size: cover;
   padding: 0px 60px;
}

header {
   background-color: transparent;
   height: 10vh;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

* {
   padding: 0%;
   margin: 0%;
   font-family: Arial, Helvetica, sans-serif;
}

img {
   width: 50px;
   height: 30px;
}

a {
   text-decoration: none;
   color: white;
   width: 150px;
}

nav p {
   width: 200px;
   /* border-right: c  ; */
}

.menuicon {
   display: flex;
   flex-direction: column;
}
.menu {
   background-color: white;
   height: 2px;
   width: 20px;
   margin-top: 3px;
}

.first {
   color: white;
   font-size: 70px;
}

.second {
   color: whitesmoke;
   font-size: 45px;
}

.horline {
   /* color:#363681; */
   width: 60vh;
   margin-top: 10px;
}

.lorem {
   color: white;
}
